{% extends 'base.html.twig' %}

{% block title %}Faire une requête{% endblock %}

{% block body %}


<div class="container w-50">
    <h1>Faire une requête de paiment</h1>

    {% form_theme requestCreateForm 'bootstrap_5_layout.html.twig' %}
    {{ form_start(requestCreateForm) }}
        {{ form_row(requestCreateForm.amount, {
            label: 'Montant : '
        }) }}
        {{ form_row(requestCreateForm.pUser, {
            label: 'Utilisateur : '
        }) }}
        {{ form_row(requestCreateForm.myAccount, {
            label: 'Compte : '
        }) }}
        <button class="btn btn-primary">Faire une demande</button>
    {{ form_end(requestCreateForm) }}


    </div>
{% endblock %}
